:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: 2px solid var(--primary);
  font-size: 18px;
  color: var(--primary);
  cursor: pointer;
  /* background-color: var(--primary); */
}
.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  background-color: var(--primary);
}
