* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.news,
.forum,
.services,
.members,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 30vh;
  width: 100ch;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url("./images/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.news {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.forum {
  background-image: url("./images/img-9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.dashboard {
  background-image: url("./images/img-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.services {
  background-image: url("./images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.members {
  background-image: url("./images/img-3.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url("./images/img-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("./images/img-7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.login-container {
  margin: auto;
  width: 960px;
}
.login-card {
  justify-content: center;
  text-align: center;
}
.marketing {
  background-image: url("./images/img-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url("./images/img-5.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen {
  .home,
  .news,
  .forum,
  .services,
  .members,
  .contact-us,
  .sign-up,
  .marketing,
  .consulting {
    display: flex;
    height: 30vh;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
}
