.home-ticker-container-row {
  width: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#nt-example1 {
  max-width: 440px;
  /* margin: 5px; */
  height: 450px;
}
.ticker-title h3 {
  display: block;
  font-size: 30px;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  margin-top: 5px;
  text-align: center;

  background-color: #1682fd;
  color: #fff;
}
#nt-example1-container {
  text-align: center;
}
#nt-example1-container img {
  height: 75px;
  width: 75px;
}

.inner-item-row {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.inner-item-row-other {
  width: 400px;
  margin-left: 0px;
}
.inner-item-row-other a {
  font-size: 18px;
}
.inner-item-row-other p {
  font-size: 15px;
  /* margin-top: 4px; */
}
#nt-example1-container i {
  font-size: 25px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#nt-example1-container i:hover {
  color: #333;
}

#nt-example1 li {
  background: #fafafa;
  overflow: hidden;
  height: 95px;
  /* padding: 10px; */
  line-height: 30px;
  list-style: none;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
}

#nt-example1 li:hover {
  background: #fff;
}
@media screen and (max-width: 900px) {
  .home-ticker-container-row {
    justify-content: center;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  #nt-example1 {
    width: 350px;
    height: 510;
  }
  .inner-item-row {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .inner-item-row-img img {
    height: 60px;
    width: 60px;
  }
  .inner-item-row-other {
    width: 70vw;
    justify-content: right;
  }
  .inner-item-row-other a {
    font-size: 18px;
  }
  .inner-item-row-other p {
    font-size: 15px;
  }
}
