.card-container {
  width: 960px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  margin-top: 10rem;
  margin: 30px auto;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.image-container img {
  overflow: hidden;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p {
  margin: 0;
  padding: 0;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-btn {
  display: flex;
  justify-content: center;
}

.card-btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin: 0.5rem;
}
.card-btn button:hover {
  background: rgba(27, 156, 253, 0.1);
}

.card-btn a {
  text-transform: uppercase;
  color: #1b9cfc;
  text-decoration: none;
  font-weight: blod;
}

@media screen and (max-width: 960px) {
  .card-container {
    width: 90%;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px -5px; */
    transition: 0.5s;
    animation: ease-in-out;
    margin-top: 30px;
    /* margin-right: 10px; */
    border-radius: 5%;
  }
  .card-container:hover {
    transform: scale(1.1);
    /* box-shadow: 0px 0px 15px 0px; */
  }
  .image-container img {
    overflow: hidden;
    height: 200px;
  }

  .card-content {
    margin: 1rem;
    margin-top: 0.5rem;
  }

  h3,
  p {
    margin: 0;
    padding: 0;
  }
  .card-title {
    margin-bottom: 0.5rem;
  }
  .card-btn {
    display: flex;
    justify-content: center;
  }

  .card-btn cardbutton {
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin: 0.5rem;
  }

  .card-btn a {
    text-transform: uppercase;
    color: #1b9cfc;
    text-decoration: none;
    font-weight: blod;
  }
}
