.login_form_main {
  width: 40vw;
  margin: auto;
  text-align: center;
  justify-items: center;
}

.login_form_main h1 {
  font-size: 3rem;
  /* text-align: start; */
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: black;
}
.login_form_main p {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}

.form-group {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}
.form-group input {
  width: 70%;
  height: 50px;
  font-size: 1.5rem;
  color: black;
}
.problem {
  width: auto;
  margin-top: 2rem;
  color: black;
}

@media screen and (max-width: 960px) {
  .login_form_main {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .login_form_main h1 {
    font-size: 3rem;
    margin-left: 3rem;
    text-align: start;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: black;
  }
  .login_form_main p {
    font-size: 1rem;
    text-align: start;
    margin-left: 3rem;
    margin-bottom: 1rem;
    color: black;
  }
  .form-group {
    margin-bottom: 1rem;
    color: black;
    text-align: start;
    margin-left: 3rem;
  }
  .form-group input {
    width: 70%;
    height: 50px;
    font-size: 1.5rem;
    color: black;
  }
}
