.login_form_main {
  text-align: center;
  justify-items: center;
}
.login-bottom-border {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 40px;
  width: 268px;
  margin: auto;
  margin-bottom: 10px;
  border-width: 0 0 3px 0;
  border-style: solid;
}

.login_form_main p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 1rem;
  color: black;
}
.login_form_main a {
  text-decoration: none;
}

.login-form-container {
  width: 1132px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 180px;
}

.password-login {
  padding-top: 30px;
  width: 566px;
  justify-content: left;
  border-width: 0 1px 0 0px;
  border-style: solid;
  font-size: 14px;
  color: #8692a6;
}
.password-login button {
  width: auto;
  float: left;
  margin-top: 60px;
  border: 1px solid #1682fd;
  border-radius: 4px;
}
.password-form-group h4 {
  font-size: 16px;
  color: #696f79;
  text-align: left;
  margin-bottom: 19px;
}

.form-control {
  width: 426px;
  height: 64px;
  display: block;
  border: 1px solid #8692a6;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 34px;
  text-indent: 15px;
}
.remember-robot {
  width: 200px;
  text-align: left;
}
.remember-robot input {
  display: inline-block;
  width: auto;
}
.remember-robot label {
  font-size: 16px;
  color: #696f79;
}
.thirdparty-login {
  padding-top: 68px;
  width: 566px;
  justify-content: center;
  text-align: center;
}

.thirdparty-login button {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-size: 16px;
  width: 426px;
  height: 64px;
  border-color: #ffffff;
  color: #000000;
  margin-bottom: 78px;
}

@media screen and (max-width: 1160px) {
}
