.detail-text {
    height: auto;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-break: break-all;
    /* max-height: 90px; */
}

.swiper-pagination {
    bottom: 0 !important;
}